body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
}

/* NAVBAR*/
.navbar{
    background-color: black !important;
}

/* TARJETAS */
.card {
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 10px 10px 0 0;
}

/* TABLA*/
table {
    background-color: white;
    color: black;
}

/*FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}